.data-set-display {
	&-stacked .data-set-display-management-bar-wrapper {
		border: none !important;
		border-radius: 8px;
		overflow: hidden;
	}

	.data-set-display-management-bar-wrapper .form-control {
		border-width: 1px;
	}

	.dnd-table {
		background-color: transparent;

		.with-bg {
			background-color: transparent;
		}

		.dnd-td,
		.dnd-th {
			border-right: none;
		}

		.dnd-th-resizer {
			background-color: $color-theme-dark;
			transition: opacity 0.1s ease-in;

			&.is-active {
				background-color: $color-mood-bad;

				&.is-allowed {
					background-color: $color-theme;
				}
			}
		}

		.dnd-tr {
			background-color: $color-bg;
			border-bottom: none;
			border-radius: $border-radius;
			margin-bottom: 4px;
			overflow: hidden;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.dnd-thead {
			color: $color-fg-alt;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 1.2px;
			line-height: 1;
			margin-bottom: 4px;
			text-transform: uppercase;
		}
	}

	.filter-resume {
		border-color: $color-border;
		border-radius: 8px;
		border-width: 2px;
		overflow: hidden;
		padding: 0.35rem;
		transition: border 0.1s ease-in;

		&-content .lexicon-icon {
			font-size: 14px;
		}

		&.active {
			border-color: $color-theme-light;
		}

		.label-item-after {
			background: $color-border;
			height: calc(100% + 12px);
			margin-right: -6px;
			margin-top: -6px;
			width: 25px;
		}
	}

	.table-style-fluid,
	.table-style-stacked {
		border: none;
	}
}
