<li class="control-menu-nav-item d-none d-sm-inline-flex layout-reports-icon ${cssClass}">
	<a aria-label="${title}" class="control-menu-icon lfr-portal-tooltip product-menu-toggle sidenav-toggler" data-content="body" data-open-class="lfr-has-layout-reports-panel open-admin-panel" data-target="#${portletNamespace}layoutReportsPanelId" data-title="${title}" data-toggle="liferay-sidenav" data-type="fixed-push" data-type-mobile="fixed" href="javascript:;" id="${portletNamespace}layoutReportsPanelToggleId">
		${iconTag}
	</a>
</li>

<script>
	Liferay.SideNavigation.initialize(document.getElementById('${portletNamespace}layoutReportsPanelToggleId'));
</script>