@import 'atlas-variables';

.lfr-layout-reports-panel {
	&.open-admin-panel.sidenav-menu-slider {
		visibility: visible;
		width: 330px;
	}

	.sidebar-header {
		background-color: $dark;
		color: $white;
		height: 56px;
		line-height: 32px;
		padding-bottom: 8px;
		padding-right: 9px;
		padding-top: 8px;

		.sidenav-close,
		.sidenav-relaunch {
			color: $white;
		}
	}

	@media only screen and (min-width: 576px) {
		.sidebar-header {
			padding-bottom: 12px;
			padding-top: 12px;
		}
	}

	.sidebar-body {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 56px;

		.chart-loading-indicator {
			position: absolute;
			transform: translate(80%, 100%);
			z-index: 1;
		}

		.loading-animation {
			left: 0;
			position: absolute;
			right: 0;
			top: 40%;
		}
	}

	.text-truncate-reverse {
		direction: rtl;
	}

	.list-group {
		margin-bottom: 0.5rem;
	}
}

.dropdown-menu__languages {
	max-height: 295px;
}
