<settings
	xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd"
>
	<profiles>
		<profile>
			<id>liferay</id>
			<repositories>
				<repository>
					<id>archetype</id>
					<url>https://repository.liferay.com/nexus/content/groups/public/</url>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>xanadu</id>
			<repositories>
				<repository>
					<id>xanaduRepo</id>
					<url>https://repository.liferay.com/nexus/content/repositories/xanadu/</url>
				</repository>
			</repositories>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>liferay</activeProfile>
		<activeProfile>xanadu</activeProfile>
	</activeProfiles>
	<servers>
		<server>
			<id>xanaduRepo</id>
			<username>${build.repository.private.username}</username>
			<password>${build.repository.private.password}</password>
		</server>
	</servers>
</settings>