.page-editor__display-page-preview-item-selector {
	&-label {
		font-size: 0.875rem;
		font-weight: 600;
		padding-right: 8px;
	}

	&-input {
		width: 20ch;
	}

	&-dropdown-item {
		display: flex;

		&-label {
			flex-grow: 1;
		}

		.dropdown-item-indicator-end {
			margin-top: 0.2em;
			position: static;
		}
	}
}
