.form-renderer-label-field {
	position: relative;

	&__input {
		width: 100%;

		.form-feedback-item {
			color: $grayColor700;
		}
	}

	&__button {
		bottom: -30px;
		margin-left: 8px;
		position: relative;
		width: 2.5rem;
	}

	&__popover {
		left: 0;
		max-width: none;
		right: 0;
		top: 65px;
		width: 100%;

		&:not(.show) {
			display: none;
		}
	}
}
