.dropdown.open > .dropdown-menu,
.overlay-content .open > .dropdown-menu {
	display: block;
}

.dropdown-menu {
	border: 1px solid $dropdown-border-color;
}

.dropdown-toggle:after {
	border-width: 0;
	content: normal;
}

.dropup .dropdown-toggle:after {
	border-width: 0;
	content: normal;
}

.dropdown > .dropdown-menu {
	position: absolute;
}
