@import 'atlas-variables';

.image-editor {
	background-color: $dark;
	height: 100%;
	position: relative;

	.tbar {
		background-color: $dark-d2;
		border: none;
		bottom: 1.5rem;
		left: 50%;
		padding: 8px;
		position: absolute;
		text-align: center;
		transform: translateX(-50%);
		width: 75%;

		&.component-tbar,
		.btn:not(.btn-primary),
		.form-control,
		.input-group-text {
			color: $secondary-l1;
		}

		.form-control,
		.input-group-text {
			background-color: transparent;
			border: none;
		}
	}
}
