.data-set-display {
	.table-style-default {
		border-width: 0 0 1px;
		border-radius: 0;
	}

	.data-set-display-management-bar-wrapper {
		border-bottom: 1px solid $border-color;

		& > .management-bar {
			margin-bottom: 0;

			& + .management-bar {
				border-top: 1px solid #eee;
			}
		}
	}

	&.data-set-display-fluid {
		.data-set-display-pagination-wrapper {
			margin: map-get($spacers, 3) 0 0;
		}
	}

	&.data-set-display-inline {
		.data-set-display-pagination-wrapper {
			padding-top: 0.5rem;
		}
	}

	&.data-set-display-pagination-wrapper {
		margin: map-get($spacers, 3) map-get($spacers, 3) 0;
	}

	&.data-set-display-stacked {
		.data-set-display-management-bar-wrapper {
			border: 1px solid $border-color;
			margin-bottom: map-get($spacers, 3);
		}

		.data-set-display-content-wrapper {
			margin-bottom: map-get($spacers, 3);
		}

		.data-set-display-pagination-wrapper {
			margin: map-get($spacers, 3) 0 0;
		}
	}
}

.tooltip-provider {
	color: $info-primary;
	cursor: help;
	margin-left: map-get($spacers, 1);

	& > * {
		pointer-events: none;
	}
}

.table-style-fluid,
.table-style-stacked {
	border: 1px solid $border-color;
	border-radius: 4px;
	overflow: hidden;

	.table {
		margin-bottom: -1px;
	}
}

.dnd-table .content-renderer-image {
	width: 1%;
}

.tooltip-table {
	color: white;
	font-weight: 600;
	width: 100%;

	td {
		border: none;

		&:first-child {
			color: darken(white, 10%);
			text-align: left;
		}

		&:last-child {
			text-align: right;
		}
	}

	tr.with-divider td {
		padding-top: map-get($spacers, 2);
		position: relative;

		&::after {
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: map-get($spacers, 1);
		}
	}

	tr.highlighted td {
		font-size: 1rem;

		&:last-child {
			color: $error-l1;
		}
	}
}

.filter-resume {
	cursor: pointer;

	&.active {
		border-color: $primary-color;
	}

	&.disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	.filter-resume-content {
		display: flex;
	}
}

.filters-dropdown-button {
	padding: map-get($spacers, 2);
}

.btn.btn-filter-navigation {
	height: 14px;
	line-height: 1;
	margin-right: 12px;
	padding: 0;
	position: relative;
	top: -1px;
	width: 14px;
}

.data-set-filter .simple-toggle-switch {
	$toggle-height: 24px;
	$toggle-width: 40px;
	$toggle-padding: 3px;

	.toggle-switch-bar {
		height: $toggle-height;
		line-height: $toggle-height;
	}

	.toggle-switch-handle {
		min-width: $toggle-width;
	}

	.toggle-switch-check {
		height: $toggle-height;
		width: $toggle-width;

		&:empty ~ .toggle-switch-bar {
			&::after {
				bottom: $toggle-padding;
				height: $toggle-height - ($toggle-padding * 2);
				left: $toggle-padding;
				top: $toggle-padding;
				width: $toggle-height - ($toggle-padding * 2);
			}

			&::before {
				width: $toggle-width;
			}

			.toggle-switch-handle:after {
				margin-left: $toggle-width;
			}
		}

		&:checked ~ .toggle-switch-bar::after {
			left: $toggle-height - ($toggle-padding * 2);
		}
	}
}

.filter-body {
	.inline-scroller {
		max-height: 200px;
	}

	.form-control {
		padding-left: map-get($spacers, 2);
		padding-right: map-get($spacers, 2);
	}

	.custom-control-label {
		display: flex;

		&::before {
			flex-shrink: 0;
		}
	}
}
