.dnd-thead {
	display: table-header-group;

	.fixed & {
		display: block;
	}
}

.dnd-tbody {
	display: table-row-group;

	.fixed & {
		display: block;
	}
}

.dnd-td,
.dnd-th {
	border-right: 1px solid $table-list-border-color;
	display: table-cell;
	opacity: 0;
	overflow: hidden;
	padding: $table-cell-padding;
	transition: opacity 0.1s ease-in;
	white-space: normal;

	.fixed & {
		opacity: 1;
	}

	&:last-child {
		border-right: none;
	}

	&.item-actions,
	&.item-selector {
		width: 1%;
	}

	&.expand {
		min-width: 150px;
		width: 20%;
	}

	.fixed & {
		align-items: center;
		display: flex;
		min-width: auto;
	}
}

.dnd-th {
	font-weight: 600;
	position: relative;
}

.dnd-tr {
	border-bottom: 1px solid $table-list-border-color;
	display: table-row;
	min-width: 100%;
	position: relative;

	.dnd-tbody &:last-child {
		border-bottom: none;
	}

	&.with-bg {
		background-color: $table-accent-bg;
	}

	&::before {
		background: $primary;
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		top: 0;
		transform: scaleX(0);
		transition: transform 0.1s ease-in;
		width: 3px;
	}

	&.active::before {
		transform: scaleX(1);
	}

	.fixed & {
		display: flex;
		width: fit-content;
	}

	&.nested + &.dnd-tr:not(.nested) {
		border-top: 1px solid $table-list-border-color;
	}

	&.nested {
		border-bottom: 1px solid $table-bg;
		border-width: 0;
		margin: 0;
		overflow: hidden;
		position: relative;

		&.last {
			border-bottom: none;
			border-radius: 0 0 10px 10px;
			margin-bottom: 8px;

			.dnd-td:first-child {
				border-bottom-left-radius: 10px;
			}

			.dnd-td:last-child {
				border-bottom-right-radius: 10px;
			}
		}

		.dnd-td {
			background-color: $table-list-active-bg;
			border-color: $table-bg;
			overflow: hidden;
			padding-bottom: $spacer * 0.5;
			padding-top: $spacer * 0.5;
		}

		.sticker {
			transform: scale(0.8);
			transform-origin: left;
		}
	}
}

.dnd-table {
	background-color: $table-bg;
	border: 1px solid $table-list-border-color;
	border-radius: 2px;
	color: $table-list-color;
	display: table;
	font-size: 0.875rem;
	overflow-x: scroll;
	transition: opacity 0.1s ease-in;
	white-space: nowrap;
	width: 100%;

	&.fixed {
		display: block;
	}

	&.is-dragging {
		cursor: col-resize;
		touch-action: none;
		user-select: none;
	}
}

.dnd-th-resizer {
	background: $info;
	cursor: col-resize;
	display: block;
	height: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: background-color 0.1s ease-in;
	width: 4px;
	z-index: 1;

	&:hover {
		opacity: 1;
	}

	&.is-active {
		background: $danger;
		opacity: 1;

		&.is-allowed {
			background: $primary;
		}
	}
}
