.table-list {
	.bounded-column {
		max-width: 12ch;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	td:first-child,
	th:first-child {
		> .table-first-element-group {
			display: flex;
			justify-content: space-between;
		}
	}

	td {
		border-top: 1px solid #e7e7ed !important;

		> .due-date {
			.due-date-badge {
				border-radius: 50%;
				display: inline-block;
				height: 8px;
				margin-right: 8px;
				width: 8px;
			}

			&.text-success {
				.due-date-badge {
					background-color: #5aca75;
				}
			}

			&.text-danger {
				.due-date-badge {
					background-color: #da1414;
				}
			}

			&.text-info {
				.due-date-badge {
					display: none;
				}
			}
		}
	}

	td:last-child:not(.actions),
	th:last-child,
	td + td,
	th + th {
		padding-right: 1rem;
	}

	th.table-head-title .title {
		line-height: 24px;
	}
}

.due-date-popover {
	max-width: 20rem;
}
